/* BROAD CHANGES */
html{
    
}

body{
    padding: 0px;
    margin: 0px;
    background-color: black;
    font-family: var(--font-inter);
}



/* GENERAL CSS CHANGES */

nav{
    display: flex;
    justify-content: space-between;
    font-family: var(--font-inter);
    width: 100%;
    height: 50px;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 20px;

    
}
#nText{
    margin: 0 auto;
    text-align: center;
}


.bCont{
    margin-right: 5px;
    margin-top: 5px;
}
.bCont button{
    width: 100px;
    height: 50px;
    background-color: transparent;
    border: none;

}
.bCont button :link{
    color: rgb(126, 188, 255);
    text-decoration: none;
    font-size: 20px;
    
}

.BlockContainer{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    border-bottom: solid 2px;
    border-top: solid 2px;

    
    
    
}

.BlockContainer h1{
    font-size: 120px;
    letter-spacing: 3px;
    height: fit-content;
    color: white;
    margin: 10px;
    padding: 15px;
    font-family: var(--font-anton);
    animation: fade-in 2s linear;
    transition: font-size 0.5s ease;
}

#wlc{
    display: flex;
    margin-right: 50px;
}
#to{
    display: flex;
    margin-right: 50px;
}
#tir{
    display: flex;
}

.outerdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    
}
.innerdiv{
    width: 500px;
    height: 800px;

    animation: imgFade 2s linear;
}
.innerdiv img{
    float: inline-end;
    width: 500px;
    border-radius: 20px;
    height: auto;
}





/* CSS RULES/EFFECTS */
.BlockContainer h1:hover{
    font-size: 70px;
    
}










/* KEYFRAMES/ANIMATIONS */
@keyframes imgFade {
    from{
        opacity: 0;
        transform: translateY(-20%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}

@keyframes fade-in{
    from { 
        font-size: 20px;
        opacity: 0;
    }
    to {
        font-size: 23px;
        opacity: 1;
    }
}
@keyframes linefade{

    from{
        border-color: white;
    }
    to{
        border-color: yellow;
    }
    to{
        
        border-color: transparent;
    }

}
