.main{
    margin: 0px;
    padding: 0px;
}
/* Content Grid */
    .contentgrid{
        display: grid;

        grid-template-columns: repeat(3, 1fr);
        height: 400px;
        color: white;
        gap: 30px;
    }
    /* could probably make one class for all the formatting, butt this wooks like i coded a lot :} */
    .about{
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px dashed white; */

        
    } 
      /*im not sorry for this i jus being lazy tbh   */
    #aboutBttn{
        background-color: transparent;
        border: none;
    }
    #aboutBttn h1{
        color: white;
        font-size: 20px;
    }
    .about p{
        width: 300px;
        color: transparent;
        transition: color 1s;
    }
    /* should definitley add a class for only word formatting buyt this is fun for some reason lololol lmfao rofl "dog u funny af ahaha." */
    .expect{
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 1px dashed white; */
    }
    .expect p{
        width: 300px;
        color: transparent;
        transition: color 1s;
    }
    .expect h1{
        font-size: 20px;
    }

    .huh{
        grid-column: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 1px dashed white; */
    }

    /* Content animations and effects [Pushing the limnits of none organization with css but im rollin] */
    .about:hover p{
       color: white;
    }
    .expect:hover p{
        color: white;
    }


/* Content End */